
<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <h3>I'm in the AppComponent!</h3>
        <hr>
        <!-- <app-warning-alert></app-warning-alert> -->
        <!-- <app-success-alert></app-success-alert> -->
        <!-- <app-servers></app-servers> -->
        <app-detail-logger></app-detail-logger>
        <!-- <div app-servers></div> -->
        <!-- <div class="app-servers"></div> -->
        <!-- <app-my-servers></app-my-servers> -->
    </div>
  </div>
</div>

