<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>My Game: </h1>
      <app-game-control (intervalEmited)="onIntervalEmit($event)"></app-game-control>
      <hr>
      <div class="row">
        <div class="col-xs-6" style="border-right: 1px solid gray">
            <h2>Even:</h2>
            <p> Total Wins - {{ totalEvens }}</p>
            <app-even-player *ngFor="let even of evens" [evenNum]="even"></app-even-player>
        </div>
        <div class="col-xs-6">
            <h2>Odd:</h2>
            <p> Total Wins - {{ totalOdds }}</p>
            <app-odd-player *ngFor="let odd of odds" [oddNum]="odd"></app-odd-player>          
        </div>
      </div>
    </div>
  </div>
</div>
