<label>My Servers</label>
<!-- <input
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"
> -->
<!-- <input
    type="text"
    class="form-control"
    [(ngModel)]="serverName"
> -->
<!-- <p>{{serverName}}</p> -->
<button class="btn btn-primary" [disabled]="!allowNewServer"
    (click)="onCreateServer()">Add Server</button>
<!-- <p [innerText]="allowNewServer"></p> -->
<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated; else noServer">Server was created, server name is {{serverName}}</p>
<ng-template #noServer>
    <p>No Server was created!</p>
</ng-template>


<app-server *ngFor="let server of servers">
</app-server>
<!-- <app-server></app-server> -->


<!-- <hr>
<h2> Assignment 2! </h2>
<hr>

<input
    type="text"
    class="form-control"
    [(ngModel)]="userName"
>
<br>
<p>{{userName}}</p>
<br>
<button class="btn btn-primary" [disabled]="!userName"
    (click)="onResetName()">Reset</button> -->
