<div class="row">
  <div class="col-xs-10">
    <app-shopping-editor></app-shopping-editor>
  <hr>
  <ul class="list-group">
    <a class="list-group-item" style="cursor: pointer"
     *ngFor="let ingredient of ingredients; let i = index"
     (click)="onEditItem(i)">
    {{ ingredient.name}} ({{ingredient.amount}})
    </a>
  </ul>
  <!-- <p>The list</p> -->
  </div>
</div>
<!-- <hr>
<app-shopping-list></app-shopping-list>
<hr> -->
