<h1>
  Detail Logger - Assignment 3!
</h1>
<hr>
<button type="button" class="btn btn-primary" (click)="onDisplayDetails()">Display Details</button>
<br><br>
<p *ngIf="displayDetail"> Secret Paragraph with any content! - You can show/hide using the display button</p>
<div *ngFor="let click of clicks" >
    <p [ngStyle]="{backgroundColor: click > 4 ? 'blue' : 'transparent'}"
       [ngClass]="{atleast5logs: click > 4}">
      Log de veces que ha realizado click en el boton: {{click}} {{timestamps[click]}}
    </p>
</div> 


