<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group">
          <label for="email">Mail</label>
          <input required email #email="ngModel" ngModel name="email" type="email" id="email" class="form-control">
          <span *ngIf="!email.valid && email.touched" class="help-block"> Please enter a valid email!</span>
        </div>
        <div class="form-group">
          <label for="subscriptions"> Choose a Subscription</label>
          <select name="subscription" id="subscription" [ngModel]="selectedSubscription" class="form-control">
            <option *ngFor="let subscription of subscriptions" [value]="subscription">
              {{subscription}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="password"> Type your Password:</label>
          <input type="password" id="password" name="password" #password="ngModel" ngModel required class="form-control">
          <span *ngIf="!password.valid && password.touched" class="help-block"> Please enter password!</span>
        </div>
        <button [disabled]="!f.valid" class="btn btn-primary" type="submit">Submit</button>
      </form>
      <hr>
      <div class="row" *ngIf="submitted">
        <div class="col-xs-12">
          <h3>Your Data</h3>
          <p>Mail: {{user.email}} </p>
          <p>Subscription: {{user.subscription}}</p>
        </div>
      </div>
    </div>
  </div>
</div>