<div class="container">
  <div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-success" (click)="onStartGame()">Start Game</button>
        <button type="button" class="btn btn-danger" (click)="onStopGame()" style="margin-left: 15px">End Game</button> 
    </div>
  </div>

  