<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input
             ngModel name="username"
             required
             type="text" id="username" class="form-control">
          </div>
          <button class="btn btn-default" type="button" (click)="suggestUserName()">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input required email #email="ngModel"
            ngModel name="email" type="email" id="email" class="form-control">
            <span *ngIf="!email.valid && email.touched" class="help-block"> Please enter a valid email!</span>

          </div>
        </div>
        <p *ngIf="!userData.valid && userData.touched">User Data is Invalid!</p>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select 
            [ngModel]="defaultQuestion" name="secret"
            id="secret" class="form-control">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea class="form-control" name="questionAnswer" rows="3" [(ngModel)]="answer"></textarea>
        </div>
        <p>Your reply: {{answer}} </p>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" name="gender"
            ngModel [value]=gender>
            {{gender}}
          </label>
        </div>
        <button 
          [disabled] = "!f.valid"
          class="btn btn-primary" 
          type="submit">Submit</button>
      </form>
      <hr>
      <div class="row" *ngIf="submitted">
        <div class="col-xs-12">
          <h3>Your Data</h3>
          <p>Username: {{user.username}} </p>
          <p>Mail: {{user.email}} </p>
          <p>Secret Question: Your first {{user.secretQuestion}}</p>
          <p>Answer: {{user.answer}} </p>
          <p>Gender: {{user.gender}} </p>
        </div>
      </div>
    </div>
  </div>
</div>
