<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
            <div class="form-group">
                <label for="username">Username</label>
                <input
                  type="text"
                  id="username"
                  formControlName="username"
                  class="form-control">
                  <span class="help-block" 
                  *ngIf="!signUpForm.get('userData.username').valid && signUpForm.get('userData.username').touched">
                  <span *ngIf="signUpForm.get('userData.username').errors['nameIsForbidden']">This name is invalid!</span>
                  <span *ngIf="signUpForm.get('userData.username').errors['required']">This name is required!</span>
                  This field is required!</span>
              </div>
              <div class="form-group">
                <label for="email">email</label>
                <input
                  type="text"
                  id="email"
                  formControlName="email"
                  class="form-control">
                  <span class="help-block" 
                  *ngIf="!signUpForm.get('userData.email').valid && signUpForm.get('userData.email').touched"
                  >Please enter valid email!</span>
              </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              [value]="gender"
              formControlName="gender">{{ gender }}
          </label>
        </div>
        <div formArrayName="hobbies">
          <h4>Your Hobbies: </h4>
          <button class="btn btn-default" 
          type="button" 
          (click)="onAddHobby()"> Add Hobby</button>
          <div class="form-group" 
            *ngFor="let hobbyControl of signUpForm.get('hobbies').controls; let i = index;">
            <input type="text" class="form-control" [formControlName]="i">
          </div>
        </div>
        <span class="help-block" 
            *ngIf="!signUpForm.valid && signUpForm.touched"
            >Please enter valid data!</span>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
