<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- <h2>I'm Working!</h2> -->
            <!-- <app-recipe-book *ngIf="displaySection === 'recipe'"></app-recipe-book>
            <app-shopping *ngIf="displaySection !== 'recipe'"></app-shopping> -->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>